/* reset */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(237, 12%, 33%);
}

ul {
  list-style: none;
  padding-left: 0px;
}

p {
  margin: 0.4rem 0;
}

/* css code for application */
#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

section {
  position: relative;
  max-width: 75%;
  height: 500px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.2);
}

.image-group {
  overflow: hidden;
  position: relative;
}
#img-bg {
  transform: scale(0.8) translateX(-560px) translateY(-380px);
}
#img-main {
  position: absolute;
  top: 40px;
  left: 70px;
  transform: translateX(-140px);
}
#img-box {
  position: absolute;
  top: 175px;
  left: -120px;
}

.desc {
  padding: 2rem 4rem;
  width: 90%;
}
#title {
  font-size: 2rem;
  color: hsl(237, 12%, 33%);
}

.faq-item {
  padding: 0.5rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.question:hover {
  color: hsl(14, 88%, 65%);
  transition: 0.3s;
}

.is-open .question {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
  transition: 0.3s;
}
.is-open .arrow-btn {
  transform: rotate(180deg);
  transition: 0.2s;
}
.is-open .answer {
  display: block;
  transition: 0.3s;
}

.arrow-btn {
  width: 10px;
  height: 10px;
  margin-right: 1rem;
  transition: 0.2s;
}
.answer {
  display: none;
  max-height: 56px;
  overflow: auto;
  color: hsl(240, 6%, 50%);
}

.mobile-image-group {
  display: none;
}

.attribution {
  margin-top: 4rem;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  section {
    min-width: 85%;
    height: 60%;
    transform: translateY(2rem);
  }

  .mobile-image-group {
    display: inline-block;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
  }
  #mobile-img-bg {
    position: absolute;
    top: 60%;
    left: 3%;
  }
  .image-group,
  .img-box-wrapper {
    display: none;
  }

  .desc {
    padding: 6rem 0.8rem 1rem 0.8rem;
  }
  #title {
    text-align: center;
  }
  .arrow-btn {
    margin-right: 0;
  }
}
